public/about.html
<!DOCTYPE html>
<html> 
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>Fox Line</title>
    <meta name="description" content="">
    <meta name="keywords" content="">
    <!-- ================= Favicon =================-->
    <link rel="icon" href="img/logo/favicon.ico" type="image/x-icon">
    <link rel="shortcut icon" href="img/logo/favicon.ico" type="image/x-icon">
    <!-- ################# Favicon #################-->
    <!-- ==================== OG Tags ====================-->
    <meta property="og:title" content="">
    <meta property="og:description" content="">
    <meta property="og:type" content="article">
    <meta property="og:image" content="">
    <meta property="og:site_name" content="">
    <!-- #################### OG Tags ####################-->
    <!-- ==================== Css ====================-->
    <link rel="stylesheet" href="css/main.css">
    <!-- #################### Css ####################-->
  </head>
</html>
<body>
  <!-- Navigation-->
  <nav class="navigation">
    <div class="container">
      <div class="nav">
        <div class="nav__logo"><a class="nav__logo-link" href="index.html"><img src="img/logo.svg" alt="Logotype Fox Line"></a></div>
        <div class="nav__burger">
          <button class="nav__burger-btn btn-menu"><span></span><span></span><span></span></button>
        </div>
        <div class="nav__pop">
          <ul class="nav__menu">
            <li class="nav__menu-item"><a class="nav__menu-link " href="index.html"><span>Каталог продукции</span></a>
              <ul class="nav__menu-inset">
                <li class="nav__menu-ins-item"><a class="nav__menu-ins-link active" href="catalog-case.html"> <span>Корпуса</span></a></li>
                <li class="nav__menu-ins-item"><a class="nav__menu-ins-link " href="catalog-power.html"> <span>Блоки питания</span></a></li>
                <li class="nav__menu-ins-item"><a class="nav__menu-ins-link " href="catalog-memory.html"> <span>Модули памяти</span></a></li>
                <li class="nav__menu-ins-item"><a class="nav__menu-ins-link " href="catalog-ssd.html"> <span>SSD накопители</span></a></li>
              </ul>
            </li>
            <li class="nav__menu-item"><a class="nav__menu-link " href="distributors.html"><span>Где купить</span></a></li>
            <li class="nav__menu-item"><a class="nav__menu-link " href="about.html"><span>О компании</span></a></li>
            <li class="nav__menu-item"><a class="nav__menu-link contact" href="#"><span>Обратная связь</span></a></li>
          </ul>
          <div class="nav__search search">
            <form class="nav__search-form">
              <div class="nav__search-wrap">
                <input class="nav__search-input" type="text" data-search>
              </div>
              <button class="nav__search-btn">
                <svg class="icon icon-search-ico black">
                  <use xlink:href="img/sprinte/sprite.svg#search-ico"></use>
                </svg>
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </nav>
  <!-- End Navigation-->
  <!-- Sitebar -->
  <div class="sitebar stb">
    <ul class="sitebar__wrap">
      <li class="sitebar__item"><a class="sitebar__link " href="catalog-case.html"><span>Корпуса</span></a></li>
      <li class="sitebar__item"><a class="sitebar__link " href="catalog-power.html"><span>Блоки питания</span></a></li>
      <li class="sitebar__item"><a class="sitebar__link " href="catalog-memory.html"><span>Модули памяти</span></a></li>
      <li class="sitebar__item"><a class="sitebar__link " href="catalog-ssd.html"><span>SSD</span></a></li>
    </ul>
  </div>
  <!-- End Sitebar-->
  <div class="preloader prel">
    <div class="preloader__logo"><img src="img/logo.svg" alt="Preloader logo">
      <div class="preloader__over"></div>
    </div>
  </div>
  <!-- Page Header-->
  <header class="header-ab">
    <div class="container pl-inset">
      <div class="header-about">
        <div class="header-about__wrap header-about__wrap_left">
          <h1 class="header-about__title">О компании</h1>
          <ul class="header-about__adv">
            <li class="header-about__adv-item">
              <div class="header-about__adv-num" data-num="275000"><span>275 000</span></div>
              <div class="header-about__adv-text"><span>Реализованных продуктов</span></div>
            </li>
            <li class="header-about__adv-item">
              <div class="header-about__adv-num" data-num="250"><span>250</span></div>
              <div class="header-about__adv-text"><span>Сотрудников</span></div>
            </li>
            <li class="header-about__adv-item">
              <div class="header-about__adv-num" data-num="25"><span>25</span></div>
              <div class="header-about__adv-text"><span>Магазинов</span></div>
            </li>
            <li class="header-about__adv-item">
              <div class="header-about__adv-num" data-num="7"><span>7 лет</span></div>
              <div class="header-about__adv-text"><span>На рынке</span></div>
            </li>
          </ul>
        </div>
        <figure class="header-about__wrap header-about__wrap_right"><img src="img/about.jpg" alt="Image"></figure>
      </div>
    </div>
  </header>
  <!-- END of Page Header -->
  <!-- Content Section -->
  <section class="about-cont-sect">
    <div class="container pl-inset">
      <div class="about-cont">
        <div class="about-cont__wrap about-cont__wrap_left">
          <h2 class="about-cont__title">Do eu deserunt esse labore minim non</h2>
          <p class="about-cont__text">Do eu deserunt esse labore minim non minim. In pariatur elit sit Lorem officia enim. Sit tempor reprehenderit pariatur amet cillum fugiat pariatur cupidatat et voluptate qui. Magna cupidatat ipsum irure pariatur aute duis incididunt veniam anim culpa duis ad do. Ex mollit consequat quis cupidatat exercitation. Id enim reprehenderit tempor ipsum aliqua fugiat exercitation nulla nisi est labore ea ea aliqua.</p>
        </div>
        <div class="about-cont__wrap about-cont__wrap_right">
          <h2 class="about-cont__title">Do eu deserunt esse labore minim non</h2>
          <p class="about-cont__text">Do eu deserunt esse labore minim non minim. In pariatur elit sit Lorem officia enim. Sit tempor reprehenderit pariatur amet cillum fugiat pariatur cupidatat et voluptate qui. Magna cupidatat ipsum irure pariatur aute duis incididunt veniam anim culpa duis ad do. Ex mollit consequat quis cupidatat exercitation. Id enim reprehenderit tempor ipsum aliqua fugiat exercitation nulla nisi est labore ea ea aliqua.</p>
        </div>
      </div>
    </div>
  </section>
  <!-- END of Content Section -->
  <!-- Contact form -->
  <section class="about-contact-sect">
    <div class="container pl-inset">
      <div class="about-contact">
        <h2 class="about-contact__title">Обратная связь</h2>
        <form class="form" action="#">
          <div class="form__wrap form__wrap_top">
            <input class="form__input" type="text" name="name" placeholder="Ваше имя">
            <input class="form__input" type="text" name="company" placeholder="Компания">
          </div>
          <div class="form__wrap form__wrap_middle">
            <input class="form__input" type="email" name="email" placeholder="Email">
            <input class="form__input" type="tel" name="phone" placeholder="Телефон">
          </div>
          <div class="form__wrap form__wrap_bot">
            <textarea class="form__message" name="message"></textarea>
          </div>
          <button class="form__btn send"><span>Свяжитесь со мной</span></button>
        </form>
      </div>
    </div>
  </section>
  <!-- END of Contact form -->
  <!-- Footer -->
  <footer class="footer">
    <div class="container">
      <div class="footer__wrapper">
        <div class="footer__logo"><a class="footer__logo-link" href="#"><img src="img/footer-logo.svg" alt="Logotype"></a></div>
        <ul class="footer__menu">
          <li class="footer__menu-item"><a class="footer__menu-link" href="#"><span>Каталог продукции</span></a></li>
          <li class="footer__menu-item"><a class="footer__menu-link" href="#"><span>Где купить</span></a></li>
          <li class="footer__menu-item"><a class="footer__menu-link" href="#"><span>О компании</span></a></li>
          <li class="footer__menu-item"><a class="footer__menu-link" href="#"><span>Обратная связь</span></a></li>
        </ul>
        <div class="footer__wrap">
          <div class="footer__des"><a class="footer__des-link" href="#"><span>Website
development by</span><i> <img src="img/dev-logo.svg" alt="Logotype"></i></a><a class="footer__des-link" href="#"><i> <img src="img/gt-logo.svg" alt="Logotype"></i></a></div>
          <p class="footer__copy">© Foxline 2019</p>
        </div>
      </div>
    </div>
  </footer>
  <!-- Modal Form -->
  <div class="modal-form">
    <div class="modal-form__wrap modal-form__wrap_top">
      <button class="modal-form__close m-cls" data-cont="1"><span></span><span></span></button>
      <h2 class="modal-form__title">Обратная связь</h2>
    </div>
    <div class="modal-form__wrap modal-form__wrap_bot mod-form">
      <form class="form" action="#">
        <div class="form__wrap form__wrap_top">
          <input class="form__input" type="text" name="name" placeholder="Ваше имя">
          <input class="form__input" type="text" name="company" placeholder="Компания">
        </div>
        <div class="form__wrap form__wrap_middle">
          <input class="form__input" type="email" name="email" placeholder="Email">
          <input class="form__input" type="tel" name="phone" placeholder="Телефон">
        </div>
        <div class="form__wrap form__wrap_bot">
          <textarea class="form__message" name="message"></textarea>
        </div>
        <button class="form__btn submit"><span>Свяжитесь со мной</span></button>
      </form>
      <div class="modal-form__tanks mod-form-tnk">
        <fieldset class="modal-form__tnks-wrap">
          <h3 class="modal-form__tnks-title">Спасибо за обращение!</h3>
          <p class="modal-form__tnks-text">Мы обязательно свяжемся с Вами в ближайшее время.</p>
        </fieldset>
      </div>
    </div>
  </div>
  <!-- END Modal Form  -->
  <script src="js/jquery.min.js"></script>
  <script src="js/svg4everybody.min.js"></script>
  <script src="js/swiper.min.js"></script>
  <script src="js/nouislider.min.js"></script>
  <script src="js/main.js"></script>
</body>

app/pug/about.pug
include mainBlock/_doc
body
    include mainBlock/_nav-inside
    // Sitebar 
    +sitebarInside(4)
    // End Sitebar

    .preloader.prel
        .preloader__logo
            img(src=`${imgPath}logo.svg`, alt="Preloader logo")
            .preloader__over

    // Page Header
    - const header = aboutPAge.header;
    header.header-ab
        .container.pl-inset
            .header-about
                .header-about__wrap.header-about__wrap_left
                    h1.header-about__title= header.title
                    - const adv = header.advantage;
                    ul.header-about__adv
                        - for(let i = 0; i < adv.length; i++)
                            li.header-about__adv-item
                                .header-about__adv-num(data-num=`${parseInt(adv[i][0].replace(/\s+/g,''))}`)
                                    span= adv[i][0]
                                .header-about__adv-text
                                    span= adv[i][1]
                figure.header-about__wrap.header-about__wrap_right
                    img(src=`${header.img}`, alt="Image")
    // END of Page Header 
    // Content Section 
    - const cont = aboutPAge.textContent;
    section.about-cont-sect
        .container.pl-inset
            .about-cont
                - for(let i = 0; i < cont.length; i++)
                    div(class=`about-cont__wrap about-cont__wrap_${(i == 0) ? 'left' : 'right'}`)
                        h2.about-cont__title= cont[i][0]
                        p.about-cont__text= cont[i][1]
    // END of Content Section 
    

    // Contact form 
    section.about-contact-sect
        .container.pl-inset
            .about-contact
                h2.about-contact__title= form.title
                - const input = form.inputs;
                form.form(action="#")
                    .form__wrap.form__wrap_top
                        input(type="text" class=`form__input` name=`name` placeholder=`${input.name}`)
                        input(type="text" class=`form__input` name=`company` placeholder=`${input.company}`)
                    .form__wrap.form__wrap_middle
                        input(type="email" class=`form__input` name=`email` placeholder=`${input.email}`)
                        input(type="tel" class=`form__input` name=`phone` placeholder=`${input.phone}`)
                    .form__wrap.form__wrap_bot
                        textarea(name="message" class=`form__message`)
                    button.form__btn.send
                        span= form.btn
    // END of Contact form 

    include mainBlock/_footer

    // Modal Form 
    +ModalForm(form)
    // END Modal Form  
    
    include mainBlock/_scripts


                                
                                
