app/pug/distributors.pug
include mainBlock/_doc
body
    include mainBlock/_nav-inside
    // Sitebar 
    +sitebarInside(4)
    // End Sitebar

    .preloader.prel
        .preloader__logo
            img(src=`${imgPath}logo.svg`, alt="Preloader logo")
            .preloader__over

    - const dis = distributor;
    header.header-distr-sect
        .container.pl-inset
            .header-distr
                .header-distr__wrap
                    figure.header-distr__wrap-img
                        img(src=`${imgPath}logos/logo-ocs.png`, alt="Logotype Company")
                    h1.header-distr__title= dis.title
                    p.header-distr__text= dis.text
    - const disItm = dis.items;
    section.distr-sect
        .container.pl-inset
            .distr
                .distr__wrap.distr__wrap_top
                    .distr__main
                        figure.distr__wrap-logo
                            img(src=`${dis.mainContact[0]}`, alt="Logotype")
                        ul.distr__item-contact
                            li.distr__item-contacts
                                a(href=`${dis.mainContact[1]}`).distr__item-contact-link
                                    i.distr__item-icon.distr__item-icon_mail
                                        +icon('mail', 'black')
                                    span= dis.mainContact[1].split(':')[1]
                                li.distr__item-contacts
                                    a(href=`${dis.mainContact[2]}`).distr__item-contact-link
                                        i.distr__item-icon.distr__item-icon_phone
                                            +icon('phone', 'black')
                                        span= dis.mainContact[2].split(':')[1]
                .distr__wrap.distr__wrap_bot
                    h2.distr__title-where= dis.itemsTitle
                    ul.distr__wrapper
                        - for(let itm of disItm)
                            li.distr__dis-item
                                figure.distr__dis-img
                                    img(src=`${itm[0]}`, alt="Logotype")
                                a(href=`${itm[1]}`).distr__item-contact-link
                                    i.distr__item-icon.distr__item-icon_phone
                                        +icon('phone', 'black')
                                    span= itm[1].split(':')[1]
                //- ul.distr__wrap.distr__wrap_left
                //-     - for(let i = 0; i < disItm.length; i++)
                //-         - if(i == 0)
                //-             li(class=`distr__item distr__item_${i}`)
                //-                 figure.distr__item-img
                //-                     img(src=`${disItm[i][0]}`, alt="Logotype Distributor")
                //-                 ul.distr__item-contact
                //-                     li.distr__item-contacts
                //-                         a(href=`${disItm[i][1][0]}`).distr__item-contact-link
                //-                             i.distr__item-icon.distr__item-icon_mail
                //-                                 +icon('mail', 'black')
                //-                             span= disItm[i][1][0].split(':')[1]
                //-                     - if(disItm[i][1][1])
                //-                         li.distr__item-contacts
                //-                             a(href=`${disItm[i][1][1]}`).distr__item-contact-link
                //-                                 i.distr__item-icon.distr__item-icon_phone
                //-                                     +icon('phone', 'black')
                //-                                 span= disItm[i][1][1].split(':')[1]
                //-                 button.distr__item-btn.contact Свяжитесь со мной 

                //- ul.distr__wrap.distr__wrap_right
                //-     - for(let i = 1; i < disItm.length; i++)
                //-         li(class=`distr__item distr__item_${i}`)
                //-             figure.distr__item-img
                //-                 img(src=`${disItm[i][0]}`, alt="Logotype Distributor")
                //-             ul.distr__item-contact
                //-                 li.distr__item-contacts
                //-                     a(href=`${disItm[i][1][0]}`).distr__item-contact-link
                //-                         i.distr__item-icon.distr__item-icon_phone
                //-                             +icon('phone', 'black')
                //-                         span= disItm[i][1][0].split(':')[1]

    include mainBlock/_footer

    // Modal Form 
    +ModalForm(form)
    // END Modal Form  

    include mainBlock/_scripts

public/distributors.html
<!DOCTYPE html>
<html> 
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>Fox Line</title>
    <meta name="description" content="">
    <meta name="keywords" content="">
    <!-- ================= Favicon =================-->
    <link rel="icon" href="img/logo/favicon.ico" type="image/x-icon">
    <link rel="shortcut icon" href="img/logo/favicon.ico" type="image/x-icon">
    <!-- ################# Favicon #################-->
    <!-- ==================== OG Tags ====================-->
    <meta property="og:title" content="">
    <meta property="og:description" content="">
    <meta property="og:type" content="article">
    <meta property="og:image" content="">
    <meta property="og:site_name" content="">
    <!-- #################### OG Tags ####################-->
    <!-- ==================== Css ====================-->
    <link rel="stylesheet" href="css/main.css">
    <!-- #################### Css ####################-->
  </head>
</html>
<body>
  <!-- Navigation-->
  <nav class="navigation">
    <div class="container">
      <div class="nav">
        <div class="nav__logo"><a class="nav__logo-link" href="index.html"><img src="img/logo.svg" alt="Logotype Fox Line"></a></div>
        <div class="nav__burger">
          <button class="nav__burger-btn btn-menu"><span></span><span></span><span></span></button>
        </div>
        <div class="nav__pop">
          <ul class="nav__menu">
            <li class="nav__menu-item"><a class="nav__menu-link " href="index.html"><span>Каталог продукции</span></a>
              <ul class="nav__menu-inset">
                <li class="nav__menu-ins-item"><a class="nav__menu-ins-link active" href="catalog-case.html"> <span>Корпуса</span></a></li>
                <li class="nav__menu-ins-item"><a class="nav__menu-ins-link " href="catalog-power.html"> <span>Блоки питания</span></a></li>
                <li class="nav__menu-ins-item"><a class="nav__menu-ins-link " href="catalog-memory.html"> <span>Модули памяти</span></a></li>
                <li class="nav__menu-ins-item"><a class="nav__menu-ins-link " href="catalog-ssd.html"> <span>SSD накопители</span></a></li>
              </ul>
            </li>
            <li class="nav__menu-item"><a class="nav__menu-link " href="distributors.html"><span>Где купить</span></a></li>
            <li class="nav__menu-item"><a class="nav__menu-link " href="about.html"><span>О компании</span></a></li>
            <li class="nav__menu-item"><a class="nav__menu-link contact" href="#"><span>Обратная связь</span></a></li>
          </ul>
          <div class="nav__search search">
            <form class="nav__search-form">
              <div class="nav__search-wrap">
                <input class="nav__search-input" type="text" data-search>
              </div>
              <button class="nav__search-btn">
                <svg class="icon icon-search-ico black">
                  <use xlink:href="img/sprinte/sprite.svg#search-ico"></use>
                </svg>
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </nav>
  <!-- End Navigation-->
  <!-- Sitebar -->
  <div class="sitebar stb">
    <ul class="sitebar__wrap">
      <li class="sitebar__item"><a class="sitebar__link " href="catalog-case.html"><span>Корпуса</span></a></li>
      <li class="sitebar__item"><a class="sitebar__link " href="catalog-power.html"><span>Блоки питания</span></a></li>
      <li class="sitebar__item"><a class="sitebar__link " href="catalog-memory.html"><span>Модули памяти</span></a></li>
      <li class="sitebar__item"><a class="sitebar__link " href="catalog-ssd.html"><span>SSD</span></a></li>
    </ul>
  </div>
  <!-- End Sitebar-->
  <div class="preloader prel">
    <div class="preloader__logo"><img src="img/logo.svg" alt="Preloader logo">
      <div class="preloader__over"></div>
    </div>
  </div>
  <header class="header-distr-sect">
    <div class="container pl-inset">
      <div class="header-distr">
        <div class="header-distr__wrap">
          <figure class="header-distr__wrap-img"><img src="img/logos/logo-ocs.png" alt="Logotype Company"></figure>
          <h1 class="header-distr__title">Эксклюзивный дистрибьютор в России!</h1>
          <p class="header-distr__text">Laborum ullamco nostrud in duis veniam eu elit minim consequat deserunt do in eu. Id qui commodo duis fugiat aliqua incididunt pariatur ex labore. Lorem culpa id cupidatat anim nulla sunt velit minim laborum cupidatat sunt incididunt.</p>
        </div>
      </div>
    </div>
  </header>
  <section class="distr-sect">
    <div class="container pl-inset">
      <div class="distr">
        <div class="distr__wrap distr__wrap_top">
          <div class="distr__main">
            <figure class="distr__wrap-logo"><img src="img/logo.svg" alt="Logotype"></figure>
            <ul class="distr__item-contact">
              <li class="distr__item-contacts"><a class="distr__item-contact-link" href="mailto:help@foxline.ru"><i class="distr__item-icon distr__item-icon_mail">
                    <svg class="icon icon-mail black">
                      <use xlink:href="img/sprinte/sprite.svg#mail"></use>
                    </svg></i><span>help@foxline.ru</span></a>
                <li class="distr__item-contacts"><a class="distr__item-contact-link" href="tel:+7 229 555-0109"><i class="distr__item-icon distr__item-icon_phone">
                      <svg class="icon icon-phone black">
                        <use xlink:href="img/sprinte/sprite.svg#phone"></use>
                      </svg></i><span>+7 229 555-0109</span></a></li>
              </li>
            </ul>
          </div>
        </div>
        <div class="distr__wrap distr__wrap_bot">
          <h2 class="distr__title-where">Где купить:</h2>
          <ul class="distr__wrapper">
            <li class="distr__dis-item">
              <figure class="distr__dis-img"><img src="img/logos/ulmart.png" alt="Logotype"></figure><a class="distr__item-contact-link" href="tel:+7 495 287-42-41"><i class="distr__item-icon distr__item-icon_phone">
                  <svg class="icon icon-phone black">
                    <use xlink:href="img/sprinte/sprite.svg#phone"></use>
                  </svg></i><span>+7 495 287-42-41</span></a>
            </li>
            <li class="distr__dis-item">
              <figure class="distr__dis-img"><img src="img/logos/regard.png" alt="Logotype"></figure><a class="distr__item-contact-link" href="tel:+7 495 287-42-41"><i class="distr__item-icon distr__item-icon_phone">
                  <svg class="icon icon-phone black">
                    <use xlink:href="img/sprinte/sprite.svg#phone"></use>
                  </svg></i><span>+7 495 287-42-41</span></a>
            </li>
            <li class="distr__dis-item">
              <figure class="distr__dis-img"><img src="img/logos/trade.png" alt="Logotype"></figure><a class="distr__item-contact-link" href="tel:+7 495 287-42-41"><i class="distr__item-icon distr__item-icon_phone">
                  <svg class="icon icon-phone black">
                    <use xlink:href="img/sprinte/sprite.svg#phone"></use>
                  </svg></i><span>+7 495 287-42-41</span></a>
            </li>
            <li class="distr__dis-item">
              <figure class="distr__dis-img"><img src="img/logos/logo-dns.png" alt="Logotype"></figure><a class="distr__item-contact-link" href="tel:+7 495 287-42-41"><i class="distr__item-icon distr__item-icon_phone">
                  <svg class="icon icon-phone black">
                    <use xlink:href="img/sprinte/sprite.svg#phone"></use>
                  </svg></i><span>+7 495 287-42-41</span></a>
            </li>
            <li class="distr__dis-item">
              <figure class="distr__dis-img"><img src="img/logos/logo-xcom.png" alt="Logotype"></figure><a class="distr__item-contact-link" href="tel:+7 495 287-42-41"><i class="distr__item-icon distr__item-icon_phone">
                  <svg class="icon icon-phone black">
                    <use xlink:href="img/sprinte/sprite.svg#phone"></use>
                  </svg></i><span>+7 495 287-42-41</span></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>
  <!-- Footer -->
  <footer class="footer">
    <div class="container">
      <div class="footer__wrapper">
        <div class="footer__logo"><a class="footer__logo-link" href="#"><img src="img/footer-logo.svg" alt="Logotype"></a></div>
        <ul class="footer__menu">
          <li class="footer__menu-item"><a class="footer__menu-link" href="#"><span>Каталог продукции</span></a></li>
          <li class="footer__menu-item"><a class="footer__menu-link" href="#"><span>Где купить</span></a></li>
          <li class="footer__menu-item"><a class="footer__menu-link" href="#"><span>О компании</span></a></li>
          <li class="footer__menu-item"><a class="footer__menu-link" href="#"><span>Обратная связь</span></a></li>
        </ul>
        <div class="footer__wrap">
          <div class="footer__des"><a class="footer__des-link" href="#"><span>Website
development by</span><i> <img src="img/dev-logo.svg" alt="Logotype"></i></a><a class="footer__des-link" href="#"><i> <img src="img/gt-logo.svg" alt="Logotype"></i></a></div>
          <p class="footer__copy">© Foxline 2019</p>
        </div>
      </div>
    </div>
  </footer>
  <!-- Modal Form -->
  <div class="modal-form">
    <div class="modal-form__wrap modal-form__wrap_top">
      <button class="modal-form__close m-cls" data-cont="1"><span></span><span></span></button>
      <h2 class="modal-form__title">Обратная связь</h2>
    </div>
    <div class="modal-form__wrap modal-form__wrap_bot mod-form">
      <form class="form" action="#">
        <div class="form__wrap form__wrap_top">
          <input class="form__input" type="text" name="name" placeholder="Ваше имя">
          <input class="form__input" type="text" name="company" placeholder="Компания">
        </div>
        <div class="form__wrap form__wrap_middle">
          <input class="form__input" type="email" name="email" placeholder="Email">
          <input class="form__input" type="tel" name="phone" placeholder="Телефон">
        </div>
        <div class="form__wrap form__wrap_bot">
          <textarea class="form__message" name="message"></textarea>
        </div>
        <button class="form__btn submit"><span>Свяжитесь со мной</span></button>
      </form>
      <div class="modal-form__tanks mod-form-tnk">
        <fieldset class="modal-form__tnks-wrap">
          <h3 class="modal-form__tnks-title">Спасибо за обращение!</h3>
          <p class="modal-form__tnks-text">Мы обязательно свяжемся с Вами в ближайшее время.</p>
        </fieldset>
      </div>
    </div>
  </div>
  <!-- END Modal Form  -->
  <script src="js/jquery.min.js"></script>
  <script src="js/svg4everybody.min.js"></script>
  <script src="js/swiper.min.js"></script>
  <script src="js/nouislider.min.js"></script>
  <script src="js/main.js"></script>
</body>
