public/index-four.html
<!DOCTYPE html>
<html> 
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>Fox Line</title>
    <meta name="description" content="">
    <meta name="keywords" content="">
    <!-- ================= Favicon =================-->
    <link rel="icon" href="img/logo/favicon.ico" type="image/x-icon">
    <link rel="shortcut icon" href="img/logo/favicon.ico" type="image/x-icon">
    <!-- ################# Favicon #################-->
    <!-- ==================== OG Tags ====================-->
    <meta property="og:title" content="">
    <meta property="og:description" content="">
    <meta property="og:type" content="article">
    <meta property="og:image" content="">
    <meta property="og:site_name" content="">
    <!-- #################### OG Tags ####################-->
    <!-- ==================== Css ====================-->
    <link rel="stylesheet" href="css/main.css">
    <!-- #################### Css ####################-->
  </head>
</html>
<body data-option="four">
  <!-- Navigation-->
  <nav class="navigation">
    <div class="container">
      <div class="nav">
        <div class="nav__logo"><a class="nav__logo-link" href="index.html"><img src="img/logo.svg" alt="Logotype Fox Line"></a></div>
        <div class="nav__burger">
          <button class="nav__burger-btn btn-menu"><span></span><span></span><span></span></button>
        </div>
        <div class="nav__pop">
          <ul class="nav__menu">
            <li class="nav__menu-item"><a class="nav__menu-link " href="distributors.html"><span>Где купить</span></a></li>
            <li class="nav__menu-item"><a class="nav__menu-link " href="about.html"><span>О компании</span></a></li>
            <li class="nav__menu-item"><a class="nav__menu-link contact" href="#"><span>Обратная связь</span></a></li>
          </ul>
          <div class="nav__search search">
            <form class="nav__search-form">
              <div class="nav__search-wrap">
                <input class="nav__search-input" type="text" data-search>
              </div>
              <button class="nav__search-btn">
                <svg class="icon icon-search-ico black">
                  <use xlink:href="img/sprinte/sprite.svg#search-ico"></use>
                </svg>
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </nav>
  <!-- End Navigation-->
  <!-- Sitebar -->
  <div class="sitebar stb white home-stb">
    <ul class="sitebar__wrap">
      <li class="sitebar__item"><a class="sitebar__link stb-lnk active" href="#wrapper" data-sect="Корпуса"><span>Корпуса</span></a></li>
      <li class="sitebar__item"><a class="sitebar__link stb-lnk " href="#power" data-sect="Блоки питания"><span>Блоки питания</span></a></li>
      <li class="sitebar__item"><a class="sitebar__link stb-lnk " href="#memory" data-sect="Модули памяти"><span>Модули памяти</span></a></li>
      <li class="sitebar__item"><a class="sitebar__link stb-lnk " href="#ssd" data-sect="SSD"><span>SSD</span></a></li>
    </ul>
  </div>
  <!-- End Sitebar -->
  <div class="preloader prel">
    <div class="preloader__logo"><img src="img/logo.svg" alt="Preloader logo">
      <div class="preloader__over"></div>
    </div>
  </div>
  <main class="main-wrap">
    <!-- Header Section-->
    <header class="home-header hhp cld visible" data-sect="Корпуса" name="case"><img class="mob-img mob-img__case" src="img/bg-mob/case.png" alt="">
      <div class="bg"></div>
      <div class="container">
        <div class="header">
          <div class="header__wrap hw">
            <h1 class="header__title">Корпуса</h1>
            <p class="header__text">Современный дизайн, широкий модельный ряд и уникальное техническое решение с учетом требований к охдаждению и компановке элементов компьютера.</p><a class="header__btn" href="catalog-case.html"><span>Каталог</span></a>
          </div>
        </div>
      </div>
    </header>
    <!-- End of Header Section-->
    <!-- Power Section-->
    <div class="lol">
      <section class="home-power-sect hps cld" name="power" data-sect="Блоки питания"> <img class="mob-img mob-img__power" src="img/bg-mob/power.png" alt="">
        <div class="bg"></div>
        <div class="container">
          <div class="home-power">
            <div class="home-power__wrap hpw">
              <h2 class="home-power__title">Блоки питания</h2>
              <p class="home-power__text">Высокая стабильность работы, щтличное охлаждение, низкий уровень шума и очень привлекательная цена. Блок питания - это компонент ПК, без которого его работа невозможна.</p><a class="home-power__btn" href="catalog-power.html"><span>Каталог</span></a>
            </div>
          </div>
        </div>
      </section>
      <!-- End of Power Section-->
      <!-- Memory Section-->
      <section class="home-memory-sect hms cld" name="memory" data-sect="Модули памяти"> <img class="mob-img mob-img__memory" src="img/bg-mob/memory.png" alt="">
        <div class="bg"></div>
        <div class="container">
          <div class="home-memory">
            <div class="home-memory__wrap hmw">
              <h2 class="home-memory__title">Модули памяти</h2>
              <p class="home-memory__text">С модулями памяти FOXLINE аша система получит все необходимые ресурсы для повышения скорости работы.<br>Модули памяти FOXLINE прошли 100% тестирования на рабочей чистоте.
              </p><a class="home-memory__btn" href="catalog-memory.html"><span>Каталог</span></a>
            </div>
          </div>
        </div>
      </section>
    </div>
    <div class="hms-sect"></div>
    <!-- End of Memory Section-->
    <!-- SSD Section-->
    <section class="home-ssd-sect hss cld" name="ssd" data-sect="SSD"> <img class="mob-img mob-img__ssd" src="img/bg-mob/ssd.png" alt="">
      <div class="bg"></div>
      <div class="container">
        <div class="home-ssd">
          <div class="home-ssd__wrap hsw">
            <h2 class="home-ssd__title">SSD</h2>
            <p class="home-ssd__text">Твердотелые накопители FOXLINE могут похвастаться передовыми технологиями для максимальной скорости и надежности, даже при интенсивных нагрузках. Ваш ПК будет работать быстрее, игры и приложения будут загружаться мгновенно.</p><a class="home-ssd__btn" href="catalog-ssd.html"><span>Каталог</span></a>
          </div>
        </div>
      </div>
    </section>
    <!-- End of SSD Section-->
  </main>
  <!-- Footer -->
  <footer class="footer">
    <div class="container">
      <div class="footer__wrapper">
        <div class="footer__logo"><a class="footer__logo-link" href="#"><img src="img/footer-logo.svg" alt="Logotype"></a></div>
        <ul class="footer__menu">
          <li class="footer__menu-item"><a class="footer__menu-link" href="#"><span>Каталог продукции</span></a></li>
          <li class="footer__menu-item"><a class="footer__menu-link" href="#"><span>Где купить</span></a></li>
          <li class="footer__menu-item"><a class="footer__menu-link" href="#"><span>О компании</span></a></li>
          <li class="footer__menu-item"><a class="footer__menu-link" href="#"><span>Обратная связь</span></a></li>
        </ul>
        <div class="footer__wrap">
          <div class="footer__des"><a class="footer__des-link" href="#"><span>Website
development by</span><i> <img src="img/dev-logo.svg" alt="Logotype"></i></a><a class="footer__des-link" href="#"><i> <img src="img/gt-logo.svg" alt="Logotype"></i></a></div>
          <p class="footer__copy">© Foxline 2019</p>
        </div>
      </div>
    </div>
  </footer>
  <!-- Modal Form -->
  <div class="modal-form">
    <div class="modal-form__wrap modal-form__wrap_top">
      <button class="modal-form__close m-cls" data-cont="1"><span></span><span></span></button>
      <h2 class="modal-form__title">Обратная связь</h2>
    </div>
    <div class="modal-form__wrap modal-form__wrap_bot mod-form">
      <form class="form" action="#">
        <div class="form__wrap form__wrap_top">
          <input class="form__input" type="text" name="name" placeholder="Ваше имя">
          <input class="form__input" type="text" name="company" placeholder="Компания">
        </div>
        <div class="form__wrap form__wrap_middle">
          <input class="form__input" type="email" name="email" placeholder="Email">
          <input class="form__input" type="tel" name="phone" placeholder="Телефон">
        </div>
        <div class="form__wrap form__wrap_bot">
          <textarea class="form__message" name="message"></textarea>
        </div>
        <button class="form__btn submit"><span>Свяжитесь со мной</span></button>
      </form>
      <div class="modal-form__tanks mod-form-tnk">
        <fieldset class="modal-form__tnks-wrap">
          <h3 class="modal-form__tnks-title">Спасибо за обращение!</h3>
          <p class="modal-form__tnks-text">Мы обязательно свяжемся с Вами в ближайшее время.</p>
        </fieldset>
      </div>
    </div>
  </div>
  <!-- END Modal Form  -->
  <script src="js/jquery.min.js"></script>
  <script src="js/svg4everybody.min.js"></script>
  <script src="js/swiper.min.js"></script>
  <script src="js/nouislider.min.js"></script>
  <script src="js/main.js"></script>
</body>

app/pug/index-four.pug
include mainBlock/_doc
body(data-option="four")
    include mainBlock/_navigation
    include mainBlock/_sitebar-home

    .preloader.prel
        .preloader__logo
            img(src=`${imgPath}logo.svg`, alt="Preloader logo")
            .preloader__over
    main.main-wrap
        // Header Section
        - const header = homePage.case;
        header.home-header.hhp.cld.visible(data-sect=`${sitebar[0]}` name="case")
            img(src=`${imgPath}bg-mob/case.png`, alt="" class=`mob-img mob-img__case`)
            .bg
            .container
                .header
                    .header__wrap.hw
                        h1.header__title= header.title
                        p.header__text= header.text
                        //- ul.header__adv
                        //-     - for(let adv of header.adv)
                        //-         li.header__adv-item
                        //-             span.header__adv-text= adv
                        a(href="catalog-case.html").header__btn
                            span= header.btn
        // End of Header Section
        // Power Section
        - const power = homePage.power;
        div(class="lol")
            +section('home-power-sect hps cld', true, `${sitebar[1]}`, 'power', 'bg-mob/power.png')
                .home-power
                    .home-power__wrap.hpw
                        h2.home-power__title= power.title
                        p.home-power__text= power.text
                        //- ul.home-power__adv
                        //-     - for(let adv of power.adv)
                        //-         li.home-power__adv-item
                        //-             span.home-power__adv-text= adv
                        a(href="catalog-power.html").home-power__btn
                            span= power.btn
            // End of Power Section
            // Memory Section
            - const memory = homePage.memory;
            +section('home-memory-sect hms cld', true, `${sitebar[2]}`, 'memory', 'bg-mob/memory.png')
                .home-memory
                    .home-memory__wrap.hmw
                        h2.home-memory__title= memory.title
                        p.home-memory__text
                            = memory.text.split('<br>')[0]
                            br
                            = memory.text.split('<br>')[1]
                        //- ul.home-memory__adv
                        //-     - for(let adv of memory.adv)
                        //-         li.home-memory__adv-item
                        //-             span.home-memory__adv-text= adv
                        a(href="catalog-memory.html").home-memory__btn
                            span= memory.btn
        .hms-sect
        // End of Memory Section
        // SSD Section
        - const ssd = homePage.ssd;
        +section('home-ssd-sect hss cld', true, `${sitebar[3]}`, 'ssd', 'bg-mob/ssd.png')
            .home-ssd
                .home-ssd__wrap.hsw
                    h2.home-ssd__title= ssd.title
                    p.home-ssd__text= ssd.text
                    //- ul.home-ssd__adv
                    //-     - for(let adv of ssd.adv)
                    //-         li.home-ssd__adv-item
                    //-             span.home-ssd__adv-text= adv
                    a(href="catalog-ssd.html").home-ssd__btn
                        span= ssd.btn
        // End of SSD Section

    
    include mainBlock/_footer

    // Modal Form 
    +ModalForm(form)
    // END Modal Form  

    include mainBlock/_scripts
